.tiptap :first-child {
  margin-top: 0;
}

.tiptap .mention {
  background-color: #ddd6fe;
  border-radius: 0.4rem;
  box-decoration-break: clone;
  color: #7c3aed;
  padding: 0.1rem 0.3rem;
  font-weight: 500;
}

.tiptap .mention::after {
  content: '\200B';
}
